<html>
<body>
<h2>Hi ${assignee.name},</h2>

<p>You have new ${document.name} available for approval. </p>

<p>Follow the link below to view the docoment.</p>

<p><a href="{documentUrl}">here</a>.</p>

<p>thanks<br>
OnTarget team
</p>
</body>
</html>