<html>
<body>
<h2>Hi ${name},</h2>

<p> We have successfully received your request. We will review and notify you as soon as possible.Watch out for your email for registration.</p>

<p>thanks<br>
OnTarget team
</p>
</body>
</html>