<html>
<body>
<h2>Hi ${personName},</h2>

<p> We have successfully received your forgot password request. In order to change the password click the URL given below.</p>


<p>${forgotPasswordEmailUrl}</p>


<p>thanks<br>
    OnTarget Team
</p>
</body>
</html>