<html>
<body>
<h2>Dear ${firstName},</h2>

<p> Mr <b><i>${name}</i></b> has send you request to register. To approve click this link</p>

<p>${url}</p>


<p>thanks<br>
    OnTarget team
</p>
</body>
</html>